<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Time Table</title>

  <link rel="stylesheet" href="styles.css">
</head>

<script src="subjects.js"></script>
<script src="script.js"></script>


<body>
	<H1><FONT COLOR="WHITE"><CENTER>VNIT ACADEMIC TIME TABLE 2021</FONT></H1>

	<script type="text/javascript" src="https://www.counters-free.net/count/8z27"></script><br>
  <br>

	<div class="container">
    <table>
      <thead>
        <tr>
          <td></td>
          <th>09:00 - 09:55</th>
          <th>10:00 - 10:55</th>
          <th>11:00 - 11:55</th>
          <th>12:00 - 12:55</th>
          <th>13:00 - 13:55</th>
          <th>14:00 - 14:55</th>
          <th>15:00 - 15:55</th>
          <th>16:00 - 16:55</th>
          <th>17:00 - 17:55</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>MONDAY</th>
          <td class="slotA">slot A</td>
          <td class="slotG">slot G</td>
          <td class="slotE">slot E</td>
          <td class="slotC">slot C</td>
          <td rowspan="6" class="noHover"><br>B<br>R<br>E<br>A<br>K</td>
          <td class="slotH">slot H</td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <th>TUESDAY</th>
          <td class="slotB">slot B</td>
          <td class="slotH">slot H</td>
          <td class="slotF">slot F</td>
          <td class="slotD">slot D</td>
          <td class="slotA">slot A</td>
          <td class="slotE">slot E</td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <th>WEDNESDAY</th>
          <td class="slotC">slot C</td>
          <td class="slotA">slot A</td>
          <td class="slotG">slot G</td>
          <td class="slotE">slot E</td>
          <td class="slotB">slot B</td>
          <td class="slotF">slot F</td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <th>THURSDAY</th>
          <td class="slotD">slot D</td>
          <td class="slotB">slot B</td>
          <td class="slotH">slot H</td>
          <td class="slotF">slot F</td>
          <td class="slotC">slot C</td>
          <td class="slotG">slot G</td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <th>FRIDAY</th>
          <td class="slotE">slot E</td>
          <td class="slotC">slot C</td>
          <td class="slotA">slot A</td>
          <td class="slotG">slot G</td>
          <td class="slotD">slot D</td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <th>SATURDAY</th>
          <td class="slotF">slot F</td>
          <td class="slotD">slot D</td>
          <td class="slotB">slot B</td>
          <td class="slotH">slot H</td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
      </tbody>
    </table>
		</div>
    <br><br><br><br><br>
</body>
