.intro-box {
    background-image: url('back1.jpg');
    height: 100vh;
    min-height: 600px;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif; background-color: #ebebeb;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
max-width: 700px;
position: relative;
margin: auto;
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media (max-width:768px) {
    .text {font-size: 11px}

    html {
      font-size: 67%;
    }
    
}

/* .typewriter {
    white-space: nowrap;
    overflow: hidden;
    animation: typew 2s steps(70) 1s 1 normal both;
}

@keyframes typew {
    from {width: 0;}
    to {width: 16em;}
} */
