@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body{
    font-family: poppins;
   /* background-image: url(bgc22.jpg);*/
   background-color: rgb(0, 0, 0);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    
}
#headi{
    font-size: 30px;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    color: #fff;
    padding-bottom: 0;
    font-family: 'Roboto Mono', monospace;
}
.card-box {
    padding: 20px;
    
}

#slider{
    margin-top: 9%;

}
.img-area{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display:inline-block;
    overflow: hidden;
}
.img-area img{
    width: 100%;
}

.content{
    text-align: center;
    padding: 40px;
    color: #fff;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(180px);
    -webkit-backdrop-filter: blur(180px);
    

}

.content {
        -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @keyframes content {
        0% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          opacity: 1;
        }
      }
      @keyframes scale-in-center {
        0% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          opacity: 1;
        }
      }

    
      
      
.content h2{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Baloo Chettan 2', cursive;
    


}
.content p:hover{
    transition: .2s;
    font-size: 17px;
    font-weight: 305;
}
.content p{
    line-height: 1.9;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}
.socials{
    margin-top: 30px;
}
.socials i{
    font-size: 20px;
    margin: 0 5px;

}
.owl-dots{
    text-align: center;
    margin-top: 3%;
}
.owl-carousel{
    will-change:scroll-position ;
}
.owl-dot{
    display: inline-block;
    height: 20px !important;
    width: 20px !important;
    background-color: #ddd !important;
    opacity: .8;
    margin: 0 10px;
    border-radius: 50%;

}
.owl-dot,:active{
    background-color: rgb(2, 19, 32) !important;

}
.round1{
    position: absolute;
    top: 14%;
    left: 10%;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    box-shadow: 0 0 40px #f36485;
    background:linear-gradient(-26deg,#e4a52f,#f46641) ;
    z-index: -2;
    
    
}
.round2{
    position: absolute;
    top: 55%;
    right: 7%;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    box-shadow: 0 0 50px #5622ff;
    background:linear-gradient(-180deg,#5622ff,#4190fd);
    
}
#details{
    font-family:poppins;
    color: #fff;
    z-index: 1;
}
@media (max-width:768px) {

    html {
      font-size: 55%;
    }
    .round1{
        width: 12em;
        height:12em;
        top: 7%;
        left: 4%;
    }
    .round2{
        width: 18em;
        height:18em;
        top: 60%;
        right: 1%;
    }
    #headi{
        padding-left: 6%;
        padding-bottom: 0%;
        font-size: 22px;
    }
    
}
