 
 .box-tt
 {
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   font-size: 1.5rem;
   font-family: 'Roboto',sans-serif;
   font-weight: 500;
   height: 140%;
 }

 .box-tt h3 {
   font-weight: 400;
   

 }

 .box-tt p {
   padding-top: 2%;
 }

 .container_days
{
   display: flex;
    gap:2%; 
   align-items: center;
   flex-direction: row;
   background-color:D6D6D7 ; 
   
 
   

}
.tablinks4,.tablinks6,.tablinks8
{
     border: 2px solid rgba(248, 241, 241, 0.103);
     border-radius: 3px;
     width: 100%;
     height: 50px;
     display: flex;
     /* margin-left: 10px; */
   
     background-color:rgb(207, 206, 206);
     align-items: center;
     justify-content: center;
     min-width: 0;
 
}
.tablinks4:hover,.tablinks6:hover,.tablinks8:hover{
 background-color:#a1a3a5
}
.tablinks4:focus,.tablinks6:focus,.tablinks8:focus{
 background-color:#0d1317;
 color:white

}


.tabcontent4,.tabcontent6,.tabcontent8 {
   margin: 4px 0;
}
.tabcontent4,.tabcontent6,.tabcontent8 {
 animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
 from {opacity: 0;}
 to {opacity: 1;}
}


   /* Style the tab */
   .days{
     flex-direction: column;
     flex-wrap: wrap;
     
   }
  
   /* Style the tab content */
   .classbox1 {
       border: 2px solid rgba(128, 128, 128, 0.103);
         border-radius: 5px;
         width: auto;
         height: 100px;
         display: flex;
         flex-direction: row;
         /* margin-left: 10px; */
         /* padding: auto; */
         
         background-color:#daffcc;
   
   }
   .classbox2 {
       border: 2px solid rgba(128, 128, 128, 0.103);
         border-radius: 5px;
         width: auto;
         height: 100px;
         display: flex;
         /* margin-left: 10px; */
         padding: auto;
         background-color:#ccf2ff;
   
   }
   .classbox3 {
       border: 2px solid rgba(128, 128, 128, 0.103);
         border-radius: 5px;
         width: auto;
         height: 100px;
         display: flex;
         /* margin-left: 10px; */
         padding: auto;
         background-color:#fccfe9;
         
   
   }
   
  /*  .tt {
       color:black;
       padding: 25px;
       height: 150%;
       width: auto;
   } */