@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Bellota Text', cursive;
}
body
{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   background: #f5f6f7;
}
.team{
   margin: 75px 0;
}
.head {
   text-align: center;
   padding-bottom:75px ;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
h1{
   
   font-weight:bold;
   letter-spacing: 2px;
   font-size: 2rem;
   color: #333;
   padding: 20px;
  
   
   
} 
.container
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;

}
.container .card
{
   width: 360px;
   height: 416px;
   padding: 60px 30px;
   margin: 20px;
   background: #f2f3f7;
   box-shadow: 0.6em 0.6em 1.2em #d2dce9,
               -0.5em -0.5em 1em #ffffff;
   border-radius: 20px;
   
}
@media screen and (max-width: 800px) {
      .container .card{
      width:310px;
      }
   }
.container .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container .card .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   display:inline-block;
   overflow: hidden;
}
.container .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   object-fit: cover;
}
.container .card .content .contentBx h4
{
   color: #36187d;
   font-size: 1.4rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
.container .card .content .contentBx h5
{
   color: #6c758f;
   font-size: 1.1rem;
   font-weight: bold;
   text-align: center;
}
.container .card .content .sci
{
   margin-top: 20px;
}
.container .card .content .sci a
{
   text-decoration: none;
   color: #0196e3;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
   

}
.container .card .content .sci a:hover
{
   color: #6c758f;
   
}

.dropbtn {
   background-color: #4CAF50;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }
 

 .arrow {
   border: solid #333;
   border-width: 0 3px 3px 0;
   display: inline-block;
   padding: 3px;
 }
 .down {
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 75px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 0;
   border-radius: 7.5px;
 }
 
 .dropdown-content a {
   color: black;
   padding: 12px 25px;
   text-decoration: none;
   display: block;
   border-radius: 7.5px;
 }
 
 .dropdown-content a:hover {background-color: #f1f1f1}
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 
